@import "../../../../scss/colors.scss";
@import "../../../../scss/breakpoints.scss";

.title {
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin: 0 0 2rem 0;
  gap: 1rem;

  .inputCheckbox {
    width: 1.4rem;
  }

  .text {
    text-align: left;
  }
}
