@import "../../../../scss/colors.scss";
@import "../../../../scss/breakpoints.scss";

.ticketContainer {
  width: 100%;
  height: calc(100vh - 6.5rem);
  padding: 1rem 0.5rem;

  .tabsContainer {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    border: $border;
    border-radius: 0.5rem 0.5rem 0 0;

    .tab {
      width: 100%;
      height: 100%;
      border-right: $border;
      display: grid;
      place-items: center;
      transition: all 250ms ease;
      border-radius: 0.4rem 0 0 0;
      cursor: pointer;

      &:nth-child(2) {
        border-radius: 0;
      }

      &:last-child {
        border-right: none;
        position: relative;
        border-radius: 0 0.4rem 0 0;
      }

      &:hover {
        background-color: lighten($primary-color, 40%);

        p {
          color: black;
        }
      }

      &.selected {
        background-color: $primary-color;

        p {
          color: white;
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .unreadBadge {
        position: absolute;
        top: -0.8rem;
        right: -1.1rem;
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;

        &.active {
          background-color: white;
          color: lighten($primary-color, 10%);
        }

        &.inactive {
          background-color: lighten($primary-color, 10%);
          color: white;
        }
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: $border;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: $shadow;
  }
}

@include respond-to(lg) {
  .ticketContainer {
    width: 80%;
    margin: auto;
  }
}

@include respond-to(xl) {
  .ticketContainer {
    width: 60%;
  }
}
